fastapi==0.135.1
uvicorn==0.41.0

# DB
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11

# IA
langchain==1.2.12
langchain-core==1.2.19
langchain-groq==1.1.2
langgraph==1.1.2

# HTTP
httpx==0.28.1
requests==2.32.5

# Config
python-dotenv==1.2.2

# Utils necesarias
pydantic==2.12.5
tenacity==9.1.4
orjson==3.11.7